/* ALL PAGE */

* {
  letter-spacing: 1px;
}

.colorGray {
  color: #808080;
}

.backgroundPage {
  background-color: #6495ed;
  padding: 0 16%;
}

.wrapperContent {
  background-color: #fffafa;
  padding: 80px 70px;
}

.header {
  font-size: 30px;
  line-height: 30px;
  margin-top: 45px;
}

/* INPUT SEARCH */

.mainBtn.searchBtn {
  background-color: #f08080;
  border-color: #f08080;
  border-radius: 0 3px 3px 0;
  font-weight: bold;
  height: 40px;
  margin: 0;
  width: 100%;
}

.mainBtn.searchBtn:hover {
  background-color: #fa8e8e;
  border-color: #fa8e8e;
}

.inputText.searchText {
  background-color: unset;
  border-radius: 3px 0 0 3px;
  height: 40px;
  width: 100%;
}

.inputText.searchText:hover,
.inputText.searchText:focus {
  border-color: #fa8e8e;
}

.inputText.searchText:focus {
  box-shadow: 0 0 0 2px #ff787533;
  outline-color: #fa8e8e;
}

/* STORES */

.cardStore {
  background-color: unset;
  border: 1px solid #dcdcdc;
  border-radius: 3px;
  margin-top: 15px;
  padding: 15px 30px;
}

.checkbox {
  float: right;
  height: 15px;
  justify-content: center;
  justify-items: center;
  margin-top: 3px;
  opacity: 0.5;
  text-align: right;
  width: 15px;
}

.storeImg {
  margin-bottom: 3px;
}

.storeName {
  margin-left: -15px;
}

/* GAMES */

.gameList {
  margin-top: 10px;
}

/* DEALS */

.dealCard {
  border: 1px solid #dcdcdc;
  border-radius: 3px;
  height: 54px;
  margin-top: 15px;
  overflow: hidden;
}

.containerContentGame {
  padding: 15px 30px;
}

.dealImg {
  border-radius: 3px 0 0 3px;
  height: 100%;
  width: 120px;
}

.centerAlign {
  text-align: center;
}

.rightAlign {
  text-align: right;
}

.leftAlign {
  padding-left: 15px;
  text-align: left;
}
