/*ALL PAGE*/

* {
  letter-spacing: 1px;
}

.colorGray {
  color: gray;
}

.background {
  padding: 0 16%;
  background-color: cornflowerblue;
}

.wrapper {
  padding: 80px 70px;
  background-color: snow;
}

h1 {
  font-size: 30px !important;
  line-height: 30px;
  margin-top: 45px !important;
}



/*INPUT SEARCH*/

.mainBtn {
  margin: 0 !important;
  height: 40px !important;
  width: 100%;
  border-radius: 0 3px 3px 0 !important;
  background-color: lightcoral !important;
  border-color: lightcoral !important;
  font-weight: bold !important;
}

.mainBtn:hover {
  background-color: #fa8e8e !important;
  border-color: #fa8e8e !important;
}

.input {
  width: 100%;
  height: 40px !important;
  border-radius: 3px 0 0 3px !important;
  background-color: unset !important;
}

.input:hover, .input:focus {
  border-color: #fa8e8e !important;
}

.input:focus {
  outline-color: #fa8e8e !important;
  box-shadow: 0 0 0 2px #ff787533 !important;
}



/*STORES*/

.cardStore {
  background-color: unset;
  border: 1px solid gainsboro;
  padding: 15px 30px;
  margin-top: 15px;
  border-radius: 3px;
}

.checkbox {
  justify-items: center;
  justify-content: center;
  width: 15px;
  height: 15px;
  float: right;
  text-align: right;
  margin-top: 3px;
  opacity: .5;
}

.storeImg {
  margin-bottom: 3px;
}

.storeName {
  margin-left: -15px;
}



/*GAMES*/

.gameList {
  margin-top: 10px;
}



/*DEALS*/

.dealCard {
  margin-top: 15px;
  height: 54px;
  border-radius: 3px;
  border: 1px solid gainsboro;
  overflow: hidden;
}

.containerContentGame {
  padding: 15px 30px;
}

.dealImg {
  width: 120px;
  height: 100%;
  border-radius: 3px 0 0 3px;
}

.centerAlign {
  text-align: center;
}

.rightAlign {
  text-align: right;
}

.leftAlign {
  text-align: left;
  padding-left: 15px;
}