/*ALL PAGE*/

* {
  letter-spacing: 1px;
}

.colorGray {
  color: gray;
}

.backgroundPage {
  padding: 0 16%;
  background-color: cornflowerblue;
}

.wrapperContent {
  padding: 80px 70px;
  background-color: snow;
}

.header {
  font-size: 30px;
  line-height: 30px;
  margin-top: 45px;
}



/*INPUT SEARCH*/

.mainBtn.searchBtn {
  margin: 0;
  height: 40px;
  width: 100%;
  border-radius: 0 3px 3px 0;
  background-color: lightcoral;
  border-color: lightcoral;
  font-weight: bold;
}

.mainBtn.searchBtn:hover {
  background-color: #fa8e8e;
  border-color: #fa8e8e;
}

.inputText.searchText {
  width: 100%;
  height: 40px;
  border-radius: 3px 0 0 3px;
  background-color: unset;
}

.inputText.searchText:hover, .inputText.searchText:focus {
  border-color: #fa8e8e;
}

.inputText.searchText:focus {
  outline-color: #fa8e8e;
  box-shadow: 0 0 0 2px #ff787533;
}



/*STORES*/

.cardStore {
  background-color: unset;
  border: 1px solid gainsboro;
  padding: 15px 30px;
  margin-top: 15px;
  border-radius: 3px;
}

.checkbox {
  justify-items: center;
  justify-content: center;
  width: 15px;
  height: 15px;
  float: right;
  text-align: right;
  margin-top: 3px;
  opacity: .5;
}

.storeImg {
  margin-bottom: 3px;
}

.storeName {
  margin-left: -15px;
}



/*GAMES*/

.gameList {
  margin-top: 10px;
}



/*DEALS*/

.dealCard {
  margin-top: 15px;
  height: 54px;
  border-radius: 3px;
  border: 1px solid gainsboro;
  overflow: hidden;
}

.containerContentGame {
  padding: 15px 30px;
}

.dealImg {
  width: 120px;
  height: 100%;
  border-radius: 3px 0 0 3px;
}

.centerAlign {
  text-align: center;
}

.rightAlign {
  text-align: right;
}

.leftAlign {
  text-align: left;
  padding-left: 15px;
}